{% extends "users/base.html" %}

{% block content %}


{% if user.is_authenticated %}

    <h3>See all the assignments in this course</h3>
    <table>
        <tr>
            <th>assignment title</th>
            <th><span style="color:red">deadline</span></th>
        </tr>
        {% for assign in assignment %}
        <tr>
            {% if request.user.u.identity == "student" %}
            <td><a href="{{ass}}s/{{assign.id}}" >  {{assign.title}} </a> </td>
            {% else %}
            <td> <a href="{{ass}}t/{{assign.id}} "  >  {{assign.title}} </a> </td>
            {%  endif %}
            <td>{{assign.deadline}}</td>
        </tr>
        {% endfor %}
    </table>

{% endif %}
{% endblock %}