{% if user.is_authenticated %}
<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All assignments</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>

    <h3>See all the assignments in this course</h3>
    <table>
        <tr>
            <th>assignment title</th>
            <th><span style="color:red">deadline</span></th>
        </tr>
        {% for assign in assignment %}
        <tr>
            {% if request.user.u.identity == "student" %}
            <td><a href="{{ass}}s/{{assign.id}}" >  {{assign.title}} </a> </td>
            {% else %}
            <td> <a href="{{ass}}t/{{assign.id}} "  >  {{assign.title}} </a> </td>
            {%  endif %}
            <td>{{assign.deadline}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'reg' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}
