{% if user.is_authenticated %}
<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All assignments</title>
</head>
<body>
    

    <ul>
        {% for assign in assignment %} 
        <li>
            <a href="{{ass}}t/{{assign.id}} "  >  {{assign.title}} </a> 
        </li>
        {% endfor %}
    </ul>


</body>

</html>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'reg' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}