{% extends "users/base.html" %}

{% block content %}

{% if user.is_authenticated %}

    <div class="alert alert-success" role="alert">
        <h2>Welcome {{ user.username }}!</h2>
    <ul>
        <li><a href="/createcourse"> Register for a Course </a></li>
        <br>
        <li><a href="/allcourses/"> My Courses </a></li>
        <br>
        <li><a href="/updateprofile"> Edit profile </a></li> 
        <br>
        <li><a href="{% url 'logout' %}">Logout?</a></li>
        <br>
    </ul>
        <small style="color: green">{{ msg }}</small>

        <p>
            <table id="tab">
            <h3> Your pending assignments</h3>
           
            {% for a in ass %}
            <tr>
                {% for i in a %}
                    {% if forloop.first %}
                    <td  style='background-color:lightblue;'> {{i.title}} </td>
                    {% else %}
                    <tr>
                        
                        <td>{{i.title}}</td>        
                        <td><span style="color:red">deadline</span> - {{i.deadline}}</td>
                    </tr>
                    {% endif %}

            {% endfor %}
            
            </tr>
                {% endfor %}
                
            </table>
        </p>



    </div>
{% endif %}
{% endblock %}