{% if user.is_authenticated %}

    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="/createcourse"> Register for a Course </a>
        <br>
        <a href="/allcourses/"> My Courses </a>
        <br>
        <a href="/updateprofile"> Edit profile </a> 
        <br>
        <a href="{% url 'logout' %}">Logout?</a>
        <br>
        <small style="color: green">{{ msg }}</small>

        <p>
            <table>
            <h4> Your pending assignments</h4>
           
            {% for a in ass %}
            <tr>
                {% for i in a %}
                    {% if forloop.first %}
                    <td  style='background-color:lightblue;'> {{i.title}} </td>
                    {% else %}
                    <tr>
                        
                        <td>{{i.title}}</td>        
                        <td><span style="color:red">deadline</span> - {{i.deadline}}</td>
                    </tr>
                    {% endif %}

            {% endfor %}
            
        </tr>
            {% endfor %}
            
        </table>
        </p>



    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'reg' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}
 