{% if user.is_authenticated %}
<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All submissions</title>
</head>
<body>
     
<form action="" method="POST">
    {% csrf_token %}
    <button type="submit">Download all submissions</button>
    <input type="hidden" name="form_id" value="download" >
    </br>
    <a href = "http://127.0.0.1:8000/seeassignments/{{num1}}/{{num2}}/feedback" > Download csv file </a>
</br>
    <a href = "http://127.0.0.1:8000/seeassignments/{{num1}}/{{num2}}/marks" > upload marks and feedback by downloading above csv file </a>
</form>
    <ul>
        {% for s in sol %}
        <li>
            <h1> {{s.username}} </h1>
            <br>
            <a href="{{s.solution.url}}" download class="down" >  {{s.file_name}} </a> 
            {% if s.feedback != "" %}
            <br>
            Feedback given:   {{s.feedback}}
            <br>
            {% endif %}
            {% if s.marks != None %}
            Marks given: {{s.marks}}
            <br>
            {% endif %}
            <!-- {% if s.marks %}
            {% endif %} -->
            <form action="" method="POST"> 
                {% csrf_token %}
                <input type="hidden" name="form_id" value="feed" >
                {% for field in form %}
                <p>
                    {% if s.feedback != "" and field.label == "Feedback" %}
                        Update feedback:
                    {% else %}

                        {{ field.label }}: 
                    {% endif %}
                    <br>
                    {{ field }}
                </p>
                {%  endfor %}
                <button type="submit" name="submit" value = {{s.username}} >Add Feedback</button>
            
            </form>
        </li>

        {% endfor %}
    </ul>

</body>

</html>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'reg' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}