{% if user.is_authenticated %}
<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All submissions</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <h2> All Submissions</h2>
     

    <table>
        <h3> Submission details</h3>
        <tr>
            <th>student name</th>
            <th> submitted file </th>
            <th>Feedback</th>
            <th>Marks</th>
            <th>Update feedback</th>
            <th>update marks</th>
            <th>button</th>
        </tr>
        {% for s in sol %}
        <tr>
            <td> {{s.username}} </td>

            <td><a href="{{s.solution.url}}" download class="down" >  {{s.file_name}} </a> </td>
            <td>{{s.feedback}}</td>
            <td>{{s.marks}}</td>
  
            <form action="" method="POST"> 
                {% csrf_token %}
                <input type="hidden" name="form_id" value="feed" >
                {% for field in form %}
                    <td>{{ field }}</td>
                {%  endfor %}
                <td><button type="submit" name="submit" value = {{s.username}} >Add Feedback</button></td>
            
            </form>
        </tr>

        {% endfor %}
    </table>
<hr><br>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit">Download all submissions</button>
        <input type="hidden" name="form_id" value="download" >
        </br>
        <a href = "http://127.0.0.1:8000/seeassignments/{{num1}}/{{num2}}/feedback" > Download csv file </a>
    </br>
        <a href = "http://127.0.0.1:8000/seeassignments/{{num1}}/{{num2}}/marks" > upload marks and feedback by downloading above csv file </a>
    </form>

</body>

</html>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'reg' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}