{% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>{{ user.username }}</h3>

        {{person.full_name}} 
        <br>
        {{person.user.email}}
        <br>
        {{person.user_name}}
        <br>
        {{person.identity}}
        <br>
        {% for l in courses %}
            {{l.title}}
        {% endfor %}

        {% if request.user.u.identity == "teacher" %}
        <a href="">Deregister this student from (course)</a>
        {% endif %}

    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'reg' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}
